<!DOCTYPE html>
<html>
<head>
    <title>Add Category</title>
</head>
<body>
    <form action="/add_category" method="post">
        <label for="name">Category Name:</label><br>
        <input list="category_names" id="name" name="name"><br>
        <datalist id="category_names">
            <option value="Grocery">
            <option value="Fashion">
            <option value="Mobile">
            <option value="Toys and Baby">
            <option value="Sports">
            <option value="Accessories">
            <option value="Home Appliance">
            <option value="Food">
            <option value="Dairy Product">
            <option value="Electronics">
        </datalist>
        <label for="user_id">User ID:</label><br>
        <input type="text" id="user_id" name="user_id"><br>
        <input type="submit" value="Add Category">
    </form>
</body>
</html>
