<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <div>
        <a href="/create_shop"><button>Create Shop</button></a>
        <a href="/view_shops"><button>View Shops</button></a>
        <a href="/add_category"><button>Add Category</button></a>
        <a href="/view_categories"><button>View Categories</button></a>
        <a href="/add_product"><button>Add Product</button></a>
        <a href="/view_products"><button>View Products</button></a>
        <a href="/create_bill"><button>Create Bill</button></a>
        <a href="/view_bills"><button>View Bills</button></a>
        <a href="/dashboard"><button>Dashboard</button></a>
    </div>
</body>
</html>
