<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Inventory</h1>
    <a href="{{ url_for('product.restock_product') }}">Restock Product</a>
    <table border="1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.product_name }}</td>
                <td>{{ inventory.category_name }}</td>
                <td>{{ inventory.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
