<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .settings-container {
            margin-bottom: 30px;
        }

        .settings-button {
            display: block;
            width: 100%;
            max-width: 300px;
            text-align: left;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        .form-container {
            display: none;
        }

        /* Custom button styles */
        .btn-custom-shop {
            background-color: #465dc4; /* Green */
            color: white;
        }

        .btn-custom-password {
            background-color: #465dc4; /* Red */
            color: white;
        }

        .btn-custom-whatsapp {
            background-color: #465dc4; /* A different shade of orange */
            color: white;
        }

        
    </style>
    <script>
        function showForm(formId) {
            // Hide all forms
            var forms = document.getElementsByClassName('form-container');
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = 'none';
            }
            // Show the selected form
            document.getElementById(formId).style.display = 'block';
        }

        function showMessage(buttonId, message, category) {
            var messageDiv = document.getElementById(buttonId + '-message');
            messageDiv.className = 'alert alert-' + category;
            messageDiv.innerText = message;
            messageDiv.style.display = 'block';

            // Hide message when clicking anywhere on the page
            document.addEventListener('click', function hideMessage() {
                messageDiv.style.display = 'none';
                document.removeEventListener('click', hideMessage);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Settings</h1>

        <!-- Shop Information Section -->
        <div class="settings-container">
            <button id="updateShopButton" class="btn btn-primary settings-button" onclick="showForm('updateShopForm')">Update Shop Information</button>
            <div id="updateShopButton-message" style="display:none;"></div>

            <div id="updateShopForm" class="form-container">
                <form action="{{ url_for('auth.settings') }}" method="post">
                    <h2>Shop Details</h2>
                    <label for="shop_name">Shop Name:</label>
                    <input type="text" name="shop_name" value="{{ user.shop_name }}" required class="form-control"><br>

                    <label for="flatno">Flat No:</label>
                    <input type="text" name="flatno" value="{{ user.flatno }}" required class="form-control"><br>

                    <label for="street">Street:</label>
                    <input type="text" name="street" value="{{ user.street }}" required class="form-control"><br>

                    <label for="city">City:</label>
                    <input type="text" name="city" value="{{ user.city }}" required class="form-control"><br>

                    <label for="district">District:</label>
                    <input type="text" name="district" value="{{ user.district }}" required class="form-control"><br>

                    <label for="state">State:</label>
                    <input type="text" name="state" value="{{ user.state }}" required class="form-control"><br>

                    <label for="country">Country:</label>
                    <input type="text" name="country" value="{{ user.country }}" required class="form-control"><br>

                    <label for="pincode">Pincode:</label>
                    <input type="text" name="pincode" value="{{ user.pincode }}" required class="form-control"><br>

                    <label for="mobile_number">Mobile Number:</label>
                    <input type="text" name="mobile_number" value="{{ user.mobile_number }}" required class="form-control"><br>

                    <label for="landline_number">Landline Number (Optional):</label>
                    <input type="text" name="landline_number" value="{{ user.landline_number }}" class="form-control"><br>

                    <label for="website_address">Website Address (Optional):</label>
                    <input type="text" name="website_address" value="{{ user.website_address }}" class="form-control"><br>

                    <label for="gst_number">GST Number (Optional):</label>
                    <input type="text" name="gst_number" value="{{ user.gst_number }}" class="form-control"><br>

                    <label for="company_size">Company Size:</label>
                    <input type="text" name="company_size" value="{{ user.company_size }}" required class="form-control"><br>

                    <input type="submit" class="btn btn-success" name="update_shop" value="Update Shop Details">
                </form>
            </div>
        </div>

        <!-- Password Update Section -->
        <div class="settings-container">
            <button id="updatePasswordButton" class="btn btn-secondary settings-button" onclick="showForm('updatePasswordForm')">Update Password</button>
            
            <div id="updatePasswordButton-message" style="display:none;"></div>
        
            <div id="updatePasswordForm" class="form-container">
                <form action="{{ url_for('auth.update_password') }}" method="post">
                    <h2>Update Password</h2>
                    <label for="old_password">Old Password:</label>
                    <input type="password" name="old_password" required class="form-control"><br>
        
                    <label for="new_password">New Password:</label>
                    <input type="password" name="new_password" required class="form-control"><br>
        
                    <label for="confirm_password">Confirm New Password:</label>
                    <input type="password" name="confirm_password" required class="form-control"><br>
        
                    <input type="submit" class="btn btn-success" name="update_password" value="Update Password">
                </form>
                <!-- Forget Password Button -->
                <div class="mt-3">
                    <a href="{{ url_for('auth.new_forgot_password') }}" class="btn btn-link">Forget Password?</a>

                </div>
            </div>
        </div>

        
        <!-- WhatsApp Number Section -->
        <div class="settings-container">
            <button id="updateWhatsAppButton" class="btn btn-custom-whatsapp settings-button" onclick="showForm('updateWhatsAppForm')">Add WhatsApp Number</button>
            <div id="updateWhatsAppButton-message" style="display:none;"></div>

            <div id="updateWhatsAppForm" class="form-container">
                <form action="{{ url_for('auth.update_whatsapp') }}" method="post">
                    <h2>WhatsApp Number</h2>
                    <label for="whatsapp_number">WhatsApp Number:</label>
                    <input type="text" name="whatsapp_number" value="{{ user.whatsapp_number }}" required class="form-control"><br>

                    <input type="submit" class="btn btn-success" name="update_whatsapp" value="Update WhatsApp Number">
                </form>
            </div>
        </div>

        
    <script>
        // Call the showMessage function if there's a message
        {% if message %}
            showMessage('{{ form }}Button', '{{ message }}', '{{ category }}');
        {% endif %}
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

