<!DOCTYPE html>
<html>
<head>
    <title>View Shops</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Shops</h1>
    <table>
        <thead>
            <tr>
                <th>Shop Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Shop Type</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
            <tr>
                <td>{{ shop.name }}</td>
                <td>
                    {{ shop.address }}, {{ shop.street }}, {{ shop.city }}, {{ shop.district }}, {{ shop.state }} - {{ shop.pincode }}
                </td>
                <td>{{ shop.phone_number }}</td>
                <td>{{ shop.shop_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
